*{
  transition:all 0.3s ease-in-out;
  font-family: 'Fredoka One', cursive;
}
a{
  color:#35c7f8;
  text-decoration:none;
}
.button{
  background:url('https://media.discordapp.net/attachments/961066933669728257/965046906503979088/unknown.png');
  border:solid 2px #1370aa;
  border-radius:6px;
  padding:5px 10px;
  margin:5px;
  color:white;
  font-family: 'Yellowtail', cursive;
  background-size:cover;
  background-repeat:no-repeat;
}
.button:hover{
  transform:scale(1.1);
}

#HomePage{
  width:100%;
  height:600px;
}

#game{
  border:solid 1px black;
}

.overlay{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background:rgba(0,0,0,.3);
  display:flex;
  justify-content:center;
  align-items:center;
  visibility:hidden;
  opacity:0;
}

.overlay.active{
  visibility:visible;
  opacity:1;
}

.popup{
  border-radius:5px;
  background:#f9f9f9;
  height:auto;
  padding:10px;
}

.titulo{
  font-weight:900;
}

.global{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background:rgba(0,0,0,.3);
  display:flex;
  justify-content:center;
  align-items:center;
  visibility:hidden;
  opacity:0;
}
.global.active{
  visibility:visible;
  opacity:1;
}
.global-cont{
  border-radius:5px;
  background:#f9f9f9;
  height:auto;
  padding:10px;
}
.global-title{
  font-weight:900;
  display:flex;
  justify-content:center;
}
.global-text{
  display:flex;
  justify-content:center;
}

.global-button-cont{
  display:flex;
  justify-content:center;
}

  .color{
    border-radius:5px;
    background:none;
    border:solid 1px black;
    padding:5px;
    width:50px;
    height:50px;
  }

.colorSelect{
  width:50px;
  height:50px;
  border-radius:5px;
  cursor:pointer;
}

.colorSelect:hover{
  background:rgba(0,0,0,.3);
}

.bar-home{
  background:#3493f9;
  color:white;
  height:auto;
}

.bar-link{
  padding:15px;
  color:white;
  cursor:pointer;
  background:none;
  border:none;
}

.bar-link:hover{
  background:rgba(0,0,0,.3);
}

.mover{
  background:#f9f9f9;
  border-radius:800px;
  box-shadow:0 0 0 4;
  width:50px;
  height:50px;
  display:flex;
  justify-content:center;
  align-items:center;
  position:absolute;
}

.androidGame{
  width:900;
  height:450;
}

@media screen and (min-width: 200px) and (max-width: 900px){
  #game{
   width:850px;
   height:400px;
  }
}